<div id="<%= dom_id blueprint %>" style="display:grid;grid-template-columns: 110px auto;grid-row: 1 / span 2;">
  <div class="img" style="padding:5px;">
    <%= image_tag "armed.jpg" , style: "width:100px;height:150px" %>
  </div>
  <div>
    <p>
      <strong>Id:</strong>
      <%= blueprint.id %>
    </p>
    <p>
      <strong>Name:</strong>
      <%= blueprint.blueprint_translations&.first&.name %>
    </p>
    <p>
      <strong>Category:</strong>
      <%= blueprint.category.name %>
    </p>

    <p>
      <strong>Brand:</strong>
      <!-- prendo il nome dalla query eseguita all'origine di index nel controller,
       BRAND è OPZIONALE MA collegato ad expansion (se c'è una esxpansion deve esserci il BRAND collegato

       -->
      <%= blueprint.brand.name if blueprint.brand %>
    </p>


    <p>
      <strong>Expansion:</strong>
      <%= blueprint.expansion.name if blueprint.expansion %>
    </p>


    <hr>


  </div>
</div>