<%= render @blueprint %>
<div>
  <%= link_to "edit this blueprint", edit_blueprint_path(@blueprint) %>
  <%= link_to "back to blueprint", blueprints_path %>
  <%= link_to "New_translation", new_blueprint_blueprint_translation_path(:blueprint_id => @blueprint.id) %>
  <% if @blueprint.blueprint_translations.present? %>
  <%= link_to "Edit_Name", edit_blueprint_blueprint_translation_path(@blueprint.blueprint_translations.first, :blueprint_id => @blueprint.id) %>
    <% end %>
  <%= button_to("destroy this blueprint",  @blueprint,  method: :delete,  data: { turbo_method: 'delete', turbo_confirm: 'Really Destroy?' }   ) %>
</div>
