<p> Ciao <%= current_user.first_name %> !</p>
<%= form_with(model: expansion) do |form| %>

  <% if expansion.errors.any? %>
  <div style="color:#770000">
    <h3><%= pluralize(expansion.errors.count, "error") %>, prohibited this gaem from being saved:</h3>
    <ul>
      <%= expansion.errors.each do |error| %>
      <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display:block" %>
    <%= form.text_field :name %>
  </div>

  <div>

    <%= form.label :brand_id %>
    <%= form.collection_select :brand_id, all_brands, :id, :name %>

  </div>
  <div>
    <%= form.submit %>
  </div>

<% end %>
