<%= form_with(model: @division, url: divisions_path, local: true) do |form| %>



  <!-- Voices fields -->
  <div>
    <%= form.fields_for :voices do |voice_form| %>
      <div>
        <%= voice_form.label :name %>
        <%= voice_form.text_field :name %>
      </div>

      <div>categor
        <%= voice_form.label :locale %>
        <%= voice_form.select :locale, options_for_select(['en', 'fr', 'es']) %>
      </div>
    <% end %>
  </div>


    <!-- Voice-specific form fields -->
    <div class="field">
      <%= form.label :division_id %>
      <%= form.collection_select :parent_id, Voice.all, :division_id, :name, { prompt: 'Select Division' } %>
    </div>




  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
