<% if user_signed_in? %>
  <div class="btn-group" style="margin-right:10px;">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <%= "Hi " + current_user.first_name + " you are logged as (" + current_user.role + ")" %>
    </a>
    <ul class="dropdown-menu dropdown-menu-lg-end">
      <% if  current_user.role == "superadmin" %>
        <%= link_to 'Super Manager', dash_superadmin_path, class: 'dropdown-item bcksup' %>
      <% elsif current_user.role == "admin" %>

        <%= link_to 'Admin Manager', dash_admin_path, class: 'dropdown-item bckadm' %>
      <% else %>

        <%= link_to 'User Manager', dash_user_path, class: 'dropdown-item bckusr' %>
      <% end %>
      <hr class="hr pad_zero"  />
      <%= link_to 'Edit profile', edit_user_registration_path, class: 'dropdown-item' %>
      <hr class="hr pad_zero"  />
      <%= link_to "Dashboard", dashboard_path, class: 'dropdown-item' %>
      <hr class="hr pad_zero"  />
      <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { turbo_method: 'delete', turbo_confirm: 'Really?' }, class: 'dropdown-item' %>

    </ul>
  </div>


<% else %>
  <%= link_to "Login", new_user_session_path, class: 'btn btn-outline-success' %>
  <%= link_to "Registrati", new_user_registration_path, class: 'btn btn-outline-success' %>
<% end %>