<p>
  Ciao <%= current_user.first_name %> !
</p>
<%= form_with(model: brand) do |form| %>

  <% if brand.errors.any? %>
    <div style="color:#770000">
      <h3><%= pluralize(brand.errors.count, " error") %>,  it is not possible to save this Brand</h3>
      <ul>
        <% brand.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>
  <div style="margin-top:10px">
    <%= form.submit   %>
  </div>
<% end %>